@keyframes openDoor{
	from{
		transform-origin: 0% 0% 0;
		transform-style: preserve-3d;
		transform: rotateY(0deg) skewY(0deg);
		perspective-origin: right;
		perspective:1000px;
	}
	to{
		transform-origin: 0% 0% 0;
		transform-style: preserve-3d;
		transform: rotateY(80deg) skewY(10deg);
		perspective-origin: right;
		perspective:1000px;

	}
}
@keyframes closeDoor{
	from{
		transform-origin: 0% 0% 0;
		transform-style: preserve-3d;
		transform: rotateY(80deg) skewY(10deg);
		perspective-origin: right;
		perspective:1000px;
	}
	to{
		transform-origin: 0% 0% 0;
		transform-style: preserve-3d;
		transform: rotateY(0deg) skewY(0deg);
		perspective-origin: right;
		perspective:1000px;
	}
}
body{
	min-width:650px;
	display:flex;
	flex-flow: column nowrap;
	align-content: : center;
}
#message{
	width:400px;
	text-align: center;
	align-self:center;
	font-size:24px;
}
#banner{
	text-align: center;
}
#backgrounds{
	text-align:center;
	position:relative;
	z-index:-1;
	left:0px;
	top:176px;
}
#doorGroup{
	text-align: center;
	position:relative;
	left:0px;
	top:-178px;
}
.door{
	background-image:url('door.jpg');
	background-size:175px 350px;
	height:350px;
	width:175px;
	align-self: center;
	display:inline-block;
	margin-right:20px;
}

.doorbg{
	margin-right:20px;
	background-image:url('elmo.jpeg');
	background-size:175px 350px;
	height:350px;
	width:175px;
	align-self: center;
	display:inline-block;
}

.open{
	animation: openDoor;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}

.close{
	animation: closeDoor;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}

#door1{
	
}



















































